@media only screen and (max-width: 450px) {
    .section-one .box-left-s1 {
        width: 100% !important;
        height: 650px;
    }

    .section-one .box-right-s1 {
        z-index: 10;
        width: 100% !important;
        padding: 12px !important;
        height: 640px !important;
    }

    .title-main-index {
        width: 100% !important;
        font-size: 25px !important;
    }

    .section-one .box-right-s1 .text-details-main {
        font-size: 15px;
        margin-top: 2rem;
        color: #fff;
        text-align: center;
    }

    .section-one .box-right-s1 .box-search {
        margin-top: 18px !important;
        flex-direction: column !important;
        width: 70%;
        border-radius: 10px;
        display: flex;
        align-items: flex-start !important;
        height: auto !important;
        z-index: 2;
        background-color: #ffffff;
        padding: 1rem;
    }

    .item-search {
        width: 100% !important;
        margin-top: 10px !important;
    }

    .btn-search {
        margin-top: 12px;
        width: 30% !important;
    }

    .s2-index {
        margin-top: 6rem !important;
    }

    .support-parent {
        flex-direction: column;
    }

    .support-parent .item-support {
        width: 100% !important;
        margin-top: 12px;
    }

    .mySwiper2 {
        padding: 0 12px !important;
    }

    .popular-city .list-popular-city {
        grid-template-columns: 1fr 1fr !important;
    }

    .item-popular {
        margin-top: 15px !important;
    }

    footer .s1-footer {
        justify-content: space-between !important;
        width: 95% !important;
        margin-right: 9px !important;
        padding: 15px 10px !important;
    }

    .item-count-visit {
        width: 24.5%;
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }

    .item-count-visit strong {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;
    }

    .item-count-visit span {
        height: 60px;
        width: 100% !important;
        font-size: 11px !important;
        text-align: center !important;
    }

    .ul-list-footer {
        align-items: flex-start !important;
    }

    .parent-vila {
        flex-direction: column;
    }

    .parent-vila .right-box {
        width: 100% !important;
    }

    .parent-vila .left-box {
        width: 100% !important;
    }

    .mobile-header {
        width: 100%;
        position: relative;
    }

    .mobile-header .box-mobileHeader {
        position: fixed;
        right: 0;
        top: 0;
        height: 350px;
        width: 100%;
        z-index: 20;
        background: white;
        border-radius: 0 0 30px 30px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-close-mobileHeader {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 2px dotted #ae0909;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 12px;
        z-index: 101;
        top: 12px;
    }

    .btn-close-mobileHeader svg g {
        color: #ae0909;
    }

    .menu-header-index {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 3rem 0 0 0;
    }

    .menu-header-index li {
        width: 100%;
        height: 40px;
        margin-top: 12px;
        background: #000;
        display: flex;
        align-items: center;
    }

    .menu-header-index li a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: white !important;
        padding: 0 8px;
        font-size: 14px;
        white-space: nowrap;
        font-weight: 600;
    }

    .menu-header-index li a svg {
        margin-left: 12px;
    }

    .parent-btn-mobile-header {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .btn-register-mobi {
        width: 40%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #C49C74;
        color: #000;
    }

    .btn-host-mobi {
        width: 40%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000;
        color: #fff;
    }

    .tel-us {
        position: absolute;
        bottom: 10px;
        color: #151515;
    }

    .villa-list-index {
        grid-template-columns: 1fr !important;
    }

    .villa-list-index .item-villa-index {
        margin-top: 12px;
        width: 100% !important;
    }

    .calenders .calender .item-number-day {
        height: 43px !important;
    }

    .number {
        font-size: 13px !important;
        font-weight: 600;
    }

    .price-day span {
        position: absolute;
        font-size: 10px !important;
        font-weight: 500;
        right: 6px;
    }

    .active-day {
        font-size: 8px !important;
    }

    .calender .reserved {
        font-size: 0 !important;
    }

    .gallery {
        display: flex;
        flex-direction: column;
    }

    .vila {
        margin-top: 3rem !important;
    }

    .vila .box-details {
        flex-direction: column;
        align-items: flex-start;
    }

    .vila .box-details .item {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .view-content {
        flex-wrap: wrap;
        display: flex;
        width: 100%;
    }

    .box-details .item-second {
        width: 33% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 14px;
    }

    .right-gallery {
        width: 100% !important;
        height: 200px !important;
        border-radius: 25px 25px 0 0 !important;
    }

    .left-gallery {
        width: 100% !important;
        height: 200px !important;
        border-radius: 0 0 25px 25px !important;
        margin-top: 15px;
    }

    .left-gallery img {
        width: 100% !important;
        height: 100% !important;
    }

    .box-auth {
        width: 100% !important;
        height: auto !important;
        margin-top: 1rem;
    }

    .box-auth .login-box .item {
        width: 90% !important;
    }

    .box-auth .login-box .btn-login {
        height: 45px !important;
    }

    .submit {
        width: 100% !important;
    }
    .login-box{
        height: auto !important;
    }
    .parent-host {
        height: auto !important;
        margin-top: 2rem !important;
        width: 95% !important;
        flex-direction: column-reverse !important;
    }
    .left-host{
        width: 100% !important;
        height: 250px !important;
    }
    .right-host{
        width: 100% !important;
        height: auto !important;
    }
    .privacy-content{
        white-space: unset !important;
        width: 100% !important;
    }
    .img-mask{
        display: none !important;
    }
    .box-left-s1 .swiper-pagination{
        display: none !important;
    }
}
